# For creating/distributing a binary, all dependencies should
# be pinned to specific versions in order to provide for a reproducible
# build.
#
# The 'pip-tools' package's 'pip-compile' command can be used for that
# purpose. The following command will take the inputs from this file
# and create a 'requirements.txt' file with pinned versions of all
# dependencies:
#
# pip-compile --upgrade requirements.in

websockets>=11
kuksa-client>=0.4.2
jsonschema~=4.17
referencing>=0.27